.container {
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.container_header {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.title {
  color: #fde68a;
  margin: 0;

  grid-column: 1 / span 3;
}

@media (min-width: 768px) {
  .title {
    grid-column: 2 / 3;
  }
}

.container_list {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  overflow-y: scroll;
}

.ms_auto {
  margin-left: auto;
}
.me_auto {
  margin-right: auto;
}
.container_search {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem 0;
  justify-content: end;
  grid-column: 1 / 4;
}
@media (min-width: 768px) {
  .container_search {
    grid-column: 3 / 4;
  }
}
