.form {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: #374151;
}

.icon_container {
  position: absolute;
  top: 50%;
  left: 0.1%;
  display: flex;
  align-items: center;
  padding-left: 0.75rem;
  pointer-events: none;
  transform: translateY(-50%);
}
.icon {
  width: 1.5rem;
  height: 1.5rem;
  color: #9ca3af;
}

.input_search {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #374151;
  border-radius: 0.375rem;
  background-color: #f3f4f6;
  padding-left: 2.5rem;
}

.input_search:focus {
  outline: none;
  border-color: #2563eb;
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.5);
}
.input_search::placeholder {
  color: #9ca3af;
  padding-left: 2rem;
}

.btn_search {
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #2563eb;
  border-radius: 0.375rem;
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.5;
  cursor: pointer;
}
.btn_search:hover {
  background-color: #2563eb;
}
.btn_search:focus {
  outline: none;
  border-color: #2563eb;
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.5);
}
