.container {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  background: #155e75;
  border-radius: 0.4rem;
  padding: .8rem;
  color: white;
  borderRadius: 10px;
}

.container__info {
  text-align: left;
  font-size: 1.4rem;
}